 .tiptap {
  :first-child {
    margin-top: 0;
  }

   h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1, 
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 { 
    font-size: 1.4rem; 
  }

  h2 { 
    font-size: 1.2rem; 
  }

  h3 { 
    font-size: 1.1rem; 
  }

  h4, 
  h5, 
  h6 { 
    font-size: 1rem; 
  }

  /* Unique data id */
  [data-id] {
    border: 2px solid var(--black);
    border-radius: 0.5rem;
    padding: 2.5rem 1rem 1rem;
    position: relative;

    &::before {
      background-color: var(--black);
      border-radius: 0 0 0.5rem 0;
      color: var(--white);
      content: attr(data-id);
      font-size: 0.75rem;
      font-weight: bold;
      left: 0;
      line-height: 1.5;
      padding: 0.25rem 0.5rem;
      position: absolute;
      top: 0;
    }
  }
}